{% extends 'base.html.twig' %}

{% block title %}ListItem index{% endblock %}

{% block body %}
    <h1>ListItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for list_item in list_items %}
            <tr>
                <td>{{ list_item.id }}</td>
                <td>{{ list_item.title }}</td>
                <td>{{ list_item.createdAt ? list_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_list_item_show', {'id': list_item.id}) }}">show</a>
                    <a href="{{ path('app_list_item_edit', {'id': list_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_list_item_new') }}">Create new</a>
{% endblock %}
